/* RESET.CSS = USADO PARA RESETAR PROPRIEDADES E ESTILOS CSS PADRÕES DO NAVEGADOR NO PROJETO 
PRIMEIRO PASSO: LINKAR O ARQUIVO NO OUTRO NA TAG <HEAD> LINK:CSS
O "*" É UM SELETOR CSS QUE PEGA TODAS AS TAGS HTML
MARGIN = ESPAÇAMENTO EXTERNO - ESPAÇO ENTRE DUAS CAIXAS DE PAPELÃO
PADDING= ESPARÇAMENTO INTERNO - ESPAÇO ENTRE OS ITENS DENTRO DA CAIXA DE PAPELÃO
BOX-SIZING= FACILITA QUE SE TRABALHE COM LARGURAS E ALTURAS NO CSS */

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;

}

ul{
list-style: none;
}

/* ESTILO DA LISTA=NENHUM. A BOLINHA PRETA DE LISTA QUE APARECE PADRÃO NO HTML */